@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}

@model SearchEngineWeb.Models.TranslateModel
<h2>Translation</h2>

<br /><br />
<form method="post"  controller="Home" action="Translate"  >


<div class="row"> 
  <select class="col-6 form-control" name="f" value="" asp-for="@Model.FirstLang" >
            @foreach (var item in Model.Languages)
            {
        <option value="@item.Key"> @item.Value</option>
            }
     </select>
   <select class="col-6 form-control" name="s" asp-for=@Model.SecondLang >
            @foreach (var item in Model.Languages)
            {
          <option value="@item.Key"> @item.Value</option>
            }

        </select>
    
       

        @Html.TextAreaFor(y=>y.FirstText ,new {@class="col-6" ,@style="background-color:aqua;height:200px;border-radius:10px;"})
    <div class="col-6" style="background-color:aqua;height:200px;border-radius:10px;">
     @Model.SecondText
    </div>

</div>
	<button class="btn btn-primary" type="submit">Submit</button>
@Html.HiddenFor(y=>y.Languages)
</form>
