@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}

@model SearchEngineWeb.Models.TranslateModel

<link href="~/css/translate.css" rel="stylesheet" />


<h2 style="color:white">Translation</h2>

<br /><br />



<div class="row"> 
    <div class="col-6">
            <select id="sl" class="form-control">
                @foreach (var item in Model.Languages)
                {
                    <option value="@item.Key"> @item.Value</option>
                }
            </select>

    </div>

    <div class="col-6">

            <select id="tl" class="form-control">
                @foreach (var item in Model.Languages)
                {
                    <option value="@item.Key"> @item.Value</option>
                }

            </select>
    </div>




    <textarea id="stext" required class="col-6 translate-font" style="background-color:aqua;height:200px;border-radius:10px;">

        </textarea>

    <div class="col-6 translate-font" id="ltext">
     

        <div id="loading"></div>
    </div>

</div>
	<button class="btn btn-primary" id="subBtn">Submit</button>
@Html.HiddenFor(y=>y.Languages)




<script src="~/js/translate.js"></script>