@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}

@model SearchEngineWeb.Models.TranslateModel

<link href=@Url.Content("~/css/translate.css") rel="stylesheet" />
<style>


body {
}


#loading {

    animation:fade 2s infinite linear;

}
@@keyframes fade {
    0% {
    opacity:1;
    }

    100% {
        opacity: 0;
    }
}

.translate-font {
    font-size:20px !important;

}


#ltext {
    background-color: aqua;
    height: 200px;
    border-radius: 10px;
    padding:20px;

}

.shimmer-div {
    
    animation: shimmer 2s infinite linear;
}

@@keyframes shimmer {
    50% {
        transform: translateX(percentage);
    }

    100% {
        transform: translateX(percentage);
    }
}

</style>

<h2 style="color:white">Translation</h2>

<br /><br />



<div class="row"> 
    <div class="col-6">
            <select id="sl" class="form-control">
                @foreach (var item in Model.Languages)
                {
                    <option value="@item.Key"> @item.Value</option>
                }
            </select>

    </div>

    <div class="col-6">

            <select id="tl" class="form-control">
                @foreach (var item in Model.Languages)
                {
                    <option value="@item.Key"> @item.Value</option>
                }

            </select>
    </div>




    <textarea id="stext" required class="col-6 translate-font" style="background-color:aqua;height:200px;border-radius:10px;">

        </textarea>

    <div class="col-6 translate-font" id="ltext">
     

      
    </div>  <div id="loading"></div>

</div>
	<button class="btn btn-primary" id="subBtn">Submit</button>
@Html.HiddenFor(y=>y.Languages)



<script>


    document.getElementById("subBtn").onclick =
    function () {

        document.getElementById("ltext").innerText = "";
        var stext = document.getElementById("stext").value;
        if (stext == "" || stext == null) return; 
        var sldropdownitemValues = document.getElementById("sl").value.split("-");

        var sl = sldropdownitemValues[0];
        var slIsRigthToLeft = sldropdownitemValues[1] == "False" ? false : true;
        
        var tldropdownitemValues = document.getElementById("tl").value.split("-");

        var tl = tldropdownitemValues[0];

        var tlIsRigthToLeft = tldropdownitemValues[1] == "False" ? false : true;

     
  
        document.getElementById("ltext").style.animation = "fade 4s infinite ease-in-out";

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:

                var jsonResponse = JSON.parse(xhttp.responseText);
                if (jsonResponse["code"] == "200") {
  tlIsRigthToLeft ? document.getElementById("ltext").dir = "rtl" : document.getElementById("ltext").dir = "ltr";
                   
                    document.getElementById("ltext").innerText = jsonResponse["result"];
                } else {
                   document.getElementById("ltext").innerHTML = "<span class='text-danger'>" + jsonResponse["desc"] +"</span>";
                }


                document.getElementById("ltext").style.animation = "";
            }
        };

        xhttp.onerror = function ()
        {
            document.getElementById("ltext").innerHTML = "<span class='text-danger'>Something Went Wrong</span>";


            document.getElementById("ltext").style.animation = "";

        }


        xhttp.open("GET", "/api/search/translate?tl=" + tl + "&sl=" + sl + "&text=" + stext, true);

        xhttp.send();


    };
    </script>

<script src=@Url.Content("~/js/translate.js") ></script>